<div class="home-container">
  <ion-content class="ion-padding">
    <div class="seleccion-nivel">
      <h2>Elige el Nivel de Dificultad</h2>

      <div class="niveles">
        <ion-card button (click)="seleccionarNivel('facil')">
          <ion-card-header>
            <ion-card-title>Fácil</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            3 pares de imágenes de animales.
          </ion-card-content>
        </ion-card>

        <ion-card button (click)="seleccionarNivel('medio')">
          <ion-card-header>
            <ion-card-title>Medio</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            5 pares de imágenes de herramientas.
          </ion-card-content>
        </ion-card>

        <ion-card button (click)="seleccionarNivel('dificil')">
          <ion-card-header>
            <ion-card-title>Difícil</ion-card-title>
          </ion-card-header>
          <ion-card-content> 8 pares de imágenes de frutas. </ion-card-content>
        </ion-card>
        <ion-card button (click)="salir()">
          <ion-card-header>
            <ion-card-title>Cerrar sesión</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </div>
  </ion-content>
</div>
